@media screen and (max-width: 1024px) {
  .nav-ul {
    width: 50%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1099px) {
  /* header */
  .content-right img {
    width: 348px;
    height: 497px;
  }
  .main-header {
    position: static;
    margin: 10rem 3rem 0 3rem;
  }
  /* about */
  .about-container img {
    width: 400px;
    height: 400px;
  }

  .about-container h1 {
    font-size: calc(1.3rem + 2vw);
    margin: 1rem 0rem;
    margin: 0 1.5rem;
  }

  .about-container p {
    margin: 0;
    font-size: calc(1rem + 0.1vw);
    line-height: 2rem;
    margin: 0 1rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
  .about-container {
    margin: 0 1.5rem;
  }

  .biography img {
    width: 400px;
    height: 666px;
  }

  .biography-container h1 {
    font-size: calc(1.5rem + 1vw);
  }

  .biography-container p {
    padding-bottom: 3rem;
  }

  .buy {
    margin: 0 1rem;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1500px) {
  .content-right img {
    width: 548px;
    height: 797px;
  }
  .main-header {
    position: static;
    margin: 0 6rem;
  }

  .content-left h1 {
    font-size: calc(1.5rem + 2vw);
    padding-bottom: 2rem;
  }

  .content-left p {
    font-size: calc(1rem + 0.3vw);
    line-height: 2.2rem;
    padding-bottom: 3.5rem;
    color: #f2f2f2;
    margin: 0 0.3rem;
  }
  /* about */
  .about-container img {
    width: 600px;
    height: 600px;
  }

  .about-container h1 {
    font-size: calc(1.3rem + 2vw);
    margin: 1rem 0rem;
    margin: 0 1.5rem;
  }

  .about-container p {
    margin: 0;
    font-size: calc(1rem + 0.1vw);
    line-height: 2rem;
    margin: 0 1rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
  .about-container {
    margin: 0 1.5rem;
  }
  /* biography */
  .biography img {
    width: 600px;
    height: 866px;
  }
  .biography-container h1 {
    font-size: calc(1.5rem + 1vw);
  }

  .biography-container p {
    padding-bottom: 3rem;
    margin: 0 1.5rem;
  }

  .buy {
    margin: 0 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .nav-ul {
    position: absolute;
    right: 0;
    top: 8vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    background: #111;
    /* change transform to generate diff animation */
    transform: translateY(-150%);
  }

  .nav-ul li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
    z-index: 1000;
  }
  /* header */
  #header {
    height: 155vh;
  }

  .content-left h1 {
    padding: 2rem 0.3rem;
  }

  .hover {
    /* margin: 0 0.3rem; */
    display: none;
  }

  .main-header {
    flex-direction: column;
    margin: 3rem 1rem 0 1rem;
  }

  .content-right img {
    width: 348px;
    height: 497px;
  }
  /* about */

  .about-container {
    flex-direction: column;
    margin: 0;
  }
  .about-container img {
    width: 300px;
    height: 300px;
  }

  .about-container h1 {
    font-size: calc(1.3rem + 2.5vw);
    margin: 1rem 1.5rem;
    text-align: center;
  }

  .about-container p {
    margin: 0 1.5rem;
    font-size: calc(1rem + 0.2vw);
    line-height: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    color: #f2f2f2;
    text-align: center;
  }
  /* timeline */
  .timeline-h2 {
    margin: 0 0.8rem;
    padding-top: 6rem;
  }
  /* biography */
  .biography img {
    width: 300px;
    height: 566px;
  }

  .biography-container h1 {
    padding-top: 2rem;
  }

  .biography-container p {
    text-align: center;
  }

  .buy-button {
    display: flex;
    justify-content: center;
  }
  .buy {
    margin: 0;
    display: block;
  }
}

.nav-active {
  transform: translateY(0%);
  opacity: 1;
}

/* Hamburger animation */
.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -6px);
}

/* link animation */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
